NODE_ENV=development # Application environment (development/production)
PORT = 8080 # Port number for the application
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://<username>:<password>@<host>:<port>/<database_name>"
URL="Your Application URL" # http://localhost:8080

PAYPAL_CLIENT_ID="Your PayPal Client ID"
PAYPAL_CLIENT_SECRET="Your PayPal Client Secret"
PRICETOTALMORE="Your Price Total More Value"

# Admin Wallet Settings
ADMIN_WALLET_ADDRESS=" Your Admin Wallet Address"
ADMIN_PRIVATE_KEY="Your Admin Private Key"

# Blockchain Settings
NETWORK_RPC_URL="Your Network RPC URL"
CHAIN_ID="Your Chain ID"
CONTRACT_ADDRESS="Your Contract Address"