<footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; LianHarman 2025</div>
                        <div>
                            <a href="https://github.com/LienThuan9697" target="_blank">github</a>
                            &middot;
                            <a href="https://www.facebook.com/thuan.lien.79/" target="_blank">Facebook</a>
                        </div>
                    </div>
                </div>
            </footer>