version: '3.8' # phiên bản docker-compose
services: # định nghĩa các dịch vụ
  db: # tên dịch vụ
    image: mysql:8.0 # sử dụng image mysql phiên bản 8.0
    container_name: DbMysql_LaptopShop_blockchain # tên container
    restart: unless-stopped # tự động khởi động lại trừ khi bị dừng thủ công
    environment: # thiết lập biến môi trường
      MYSQL_ROOT_PASSWORD: LianHarman2049 # pass của user root
      MYSQL_DATABASE: LaptopShopDB # tên database muốn tạo
      MYSQL_USER: LianHarman # biến này đặt để tạo user mới và cấp quyền cho user đó
      MYSQL_PASSWORD: LianHarman2049 # pass của user mới tạo
    ports: # ánh xạ cổng
      - "3307:3306" # ánh xạ cổng 3306 trong container ra cổng 3307 trên host
    # volumes: # gắn volume để lưu trữ dữ liệu
    #   - db_data:/var/lib/mysql # lưu dữ liệu mysql vào volume db_data
    # networks: # Specify the network
    #   - mysql_network